.footer__content {
    font-size: 0.8rem;
}

main > div > h1 {
    margin-bottom: 0;
}

.logo .logo__cursor {
    background-color: rgb(33, 32, 32);
}

body.dark-theme .logo .logo__cursor {
    background-color: #fafafa;
}

p, nav.menu a {
    font-family: sans-serif;
}

main.posts > h1 {
    /* display: none; */
}
